.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Contact */
#contact-btn{
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 20px;
  padding: 0;
  color: #fafafa;
  font-size:23px;
}
#contact-btn:hover { 
  border-radius: 25px;
  color: #fafafa;
  background-color: #9bcfde;
} 

#transition-modal-description{
  font-size: 25px;
}

/* footer */
#footer {
  text-align: center;
  margin: 0px auto 20px auto;
  padding: 20px auto;
  color: #fafafa;
  border-color: #292929;
  font-size: 25px;
  font-weight: 200;
  font-family: "Work Sans", -apple-system, ".SFNSText-Regular", "San Francisco",
    "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif !important;
  text-transform: uppercase;
}
